body { color: #333; }
a {
  color: #8A2BE2;
  text-decoration: none;
}
blockquote { margin: auto; }
.header, .header .banner { padding: 0; }
.header {
  border-top: 5px solid #6B8E23;
  border-bottom: none;
  margin-bottom: 5px;
  box-shadow: 0 0 10px #6B8E23;
}
.page .header {
  box-shadow: none;
  border-bottom: 1px solid #6B8E23;
  margin-bottom: 1em;
}
.header .banner-wrapper, .page .header .banner-wrapper {
  max-width: 60%;
  background: rgba(142, 31, 35, 0.025);
}
.banner {
  font-size: inherit;
  display: block;
  justify-content: space-between;
  align-items: stretch;
}
.header .banner-image, .menu-top {
  display: table-cell;
  vertical-align: middle;
}
.header .banner-image {
  margin-left: 0;
  padding-left: 0;
}
.menu-top {
  display: flex;
  padding-left: 0;
}
.menu-top li:first-child { border-left: 1px solid #6B8E23; }
.menu-top li {
  display: inline-block;
  display: block;
  border-right: 1px solid #6B8E23;
  transition: background .3s;
  padding: 0 .5em;
  font-weight: bolder;
  align-items: center;
}
.menu-top li:hover { background: #6B8E23; }
.menu-top li a { display: flex; }
.menu-top li:hover a { color: #fff; }
.footer { background: #6B8E23; }
.article-list h1 {
  font-size: 1.3em;
  line-height: 1.3em;
}
.page main h1 {
  font-size: 1.7em;
  padding-bottom: .3em;
  border-bottom: 5px solid #eee;
}
.article-list a { color: #333; }
.categories a { color: #666; }
@media (min-width: 715px) {
  .article-list h1 {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    /* This transparent border line is used for exact layout of .full-title */
    border: 1px solid rgba(1,1,1,0.0);
  }
  .title-wrapper { position: relative; }
  .title-wrapper h1.full-title {
    position: absolute;
    top: 0;
    margin-top: -5px; /* offset 5px padding */
    margin-left: -5px;
    padding: 5px;

    white-space: normal;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

    /* https://stackoverflow.com/a/6943704 */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
  .title-wrapper:hover h1.full-title {
    visibility: visible;
    opacity: 1;
  }
}

/* modify the layout */
.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.list section {
  flex: 1 0 380px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #ccc;
  margin: 1em 0 0 15px;
  padding: 1em;
  overflow-x: hidden;
}
@media (max-width: 380px) {
  .list section { flex: auto; }
}
@media (min-width: 715px) {
  .list section { max-width: calc(50% - 15px); }
}
@media (min-width: 1080px) {
  .list section { max-width: calc(50% - 15px); }
}
/* modify the layout */

@media (max-width: 715px) {
  .banner img {
    max-height: 5.5em;
    max-width: none;
    margin: 2px 0;
  }
  /* Do not show the cloned title element in small screen */
  .full-title {
      display: none;
  }
}
.date-author {
  margin-bottom: .5em;
  color: #666;
}
.summary img { transition: transform 0.6s; }
.summary img:hover { transform: scale(1.4); }
.article-list h1 a:hover {
  color: #f05948;
  text-decoration: none
}
.active a { text-decoration: underline; }
.article-meta {
  background: transparent;
  padding: 0;
}
article { box-shadow: 0 0 8px #ccc; }
article a:hover { font-weight: bold; color: #00b0cf; }

.article-footer {
  padding: 0 1em 0 1em;
  border: 1px solid #6B8E23;
  font-size: .9em;
  margin-top: 1em;
}
.article-footer img { max-width: 200px; }

.post-nav {padding: 1em 0;}
.post-nav a { font-weight: bold; }

.profile img {
  max-width: 8em;
  border-radius: 5%;
  margin-left: 1em;
}
.profile { border: none; }
.profile tr:nth-child(even) { background: none; }
.profile td {
  vertical-align: top;
  padding: 0 0 1em;
}
.profile td h3 { margin-top: 0; }
.pagination {
  padding: 0;
}
.pagination a {
  padding: 0 0.5em;
}

#forum-frame {
  border: none;
  width: 100%;
  visibility: hidden;
  height: 0;
}

.embed-container {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; /* This will give you a 16 x 9 sized ratio */
}
.embed-container > iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.calendar-year {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.calendar-year header {
  width: 100%;
}

.calendar-month {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style-type: none;
  padding: 0px;
  text-align: center;
  width: calc(100% / 4);
  margin: 20px;
}
.calendar-month header {
  width: 100%;
}

.calendar-weekdays {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
}
.calendar-weekdays li {
  width: calc(100% / 7);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 10px;
  opacity: 0.6;
}
.calendar-weekdays li.calendar-weekday-sat, .calendar-weekdays li.calendar-weekday-sun {
  opacity: 1;
}

.calendar-days {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.calendar-days li {
  width: calc(100% / 7);
}

.calendar-day {
  line-height: 30px;
  font-size: 11.1111111111px;
  text-align: center;
}

.calendar-day.calendar-day-has-articles {
  color: #ffffff;
  position: relative;
  opacity: 0.9;
}
.calendar-day.calendar-day-has-articles::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ff6600;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}
.calendar-day.calendar-day-has-articles a {
  color: #ffffff;
  font-weight: 900;
}
.calendar-day.calendar-day-has-articles a em {
  display: none;
}
.calendar-day.calendar-day-future {
  opacity: 0.4;
}
.calendar-day.calendar-day-is-today {
  position: relative;
  font-weight: 800;
  color: #ff6600;
  opacity: 0.9;
}
.calendar-day.calendar-day-is-today::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #ff6600;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

